.main_menu .navbar-default .navbar-collapse .navbar-nav li:hover a, .main_menu .navbar-default .navbar-collapse .navbar-nav li.active a {
	color: #885570;
	/*44dd61*/
}
.main_menu .navbar-default .navbar-collapse .navbar-nav li a::before {
	background: #885570;
}
.main_menu .navbar-default .navbar-collapse .navbar-nav li.submenu .dropdown-menu li a::before {
	background: #885570;
}
.main_menu .navbar-default .navbar-collapse .navbar-nav li.submenu .dropdown-menu li a {
	color: #885570;
}
